html
    head
        title Cette page n’existe pas
        meta(charset='utf-8')
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Cette page n’existe pas
        a(href='/') Retour à l’accueil
