html
    head
        title Page du #{language}
        meta(charset='utf-8')
        link(rel="stylesheet", href="/css/style.css")
    body
        include nav.pug
        h1 Bienvenue dans le #{language}
